{
  "env": {
    "development": {
      "presets": [["env"], "es2015", "stage-0", "react"],
      "plugins" : [
        "react-hot-loader/babel", 
        ["import", { "libraryName": "antd", "style": true, "comment": "true for .less, css for .css"}]
      ]  
    },
    "test": {
      "presets" : ["es2015", "stage-1", "react"]
    },
    "production": {
      "presets" : [["es2015", { "modules": false, "loose": true }], "stage-1", "react"],
      "plugins" : [["transform-runtime", { "polyfill": false }]]
    }
  },
  "compact": false,
}
